In [10]:
import pandas as pd
from pandas import read_csv as read

file2 = read('/Users/ramji/Deep learning/dataset/Invistico_Airline.csv')
print("hi")

hi

In [11]:
file2

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,satisfied,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,3,...,2,2,3,3,4,4,4,2,0,0.0
129876,dissatisfied,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,4,...,1,3,2,3,3,1,2,1,174,172.0
129877,dissatisfied,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,3,...,2,4,4,3,4,2,3,2,155,163.0
129878,dissatisfied,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,2,...,2,3,3,2,3,2,1,2,193,205.0
129879,dissatisfied,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,3,...,3,4,5,5,5,3,3,3,185,186.0

In [23]:
file.info()
file = pd.get_dummies(file)
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 22 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   satisfaction                       129880 non-null  object
 1   Customer Type                      129880 non-null  object
 2   Age                                129880 non-null  int64
 3   Type of Travel                     129880 non-null  object
 4   Class                              129880 non-null  object
 5   Flight Distance                    129880 non-null  int64
 6   Seat comfort                       129880 non-null  int64
 7   Departure/Arrival time convenient  129880 non-null  int64
 8   Food and drink                     129880 non-null  int64
 9   Gate location                      129880 non-null  int64
 10  Inflight wifi service              129880 non-null  int64
 11  Inflight entertainment             129880 non-null  int64
 12  Online support                     129880 non-null  int64
 13  Ease of Online booking             129880 non-null  int64
 14  On-board service                   129880 non-null  int64
 15  Leg room service                   129880 non-null  int64
 16  Baggage handling                   129880 non-null  int64
 17  Checkin service                    129880 non-null  int64
 18  Cleanliness                        129880 non-null  int64
 19  Online boarding                    129880 non-null  int64
 20  Departure Delay in Minutes         129880 non-null  int64
 21  Arrival Delay in Minutes           129487 non-null  float64
dtypes: float64(1), int64(17), object(4)
memory usage: 21.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 27 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Age                                129880 non-null  int64
 1   Flight Distance                    129880 non-null  int64
 2   Seat comfort                       129880 non-null  int64
 3   Departure/Arrival time convenient  129880 non-null  int64
 4   Food and drink                     129880 non-null  int64
 5   Gate location                      129880 non-null  int64
 6   Inflight wifi service              129880 non-null  int64
 7   Inflight entertainment             129880 non-null  int64
 8   Online support                     129880 non-null  int64
 9   Ease of Online booking             129880 non-null  int64
 10  On-board service                   129880 non-null  int64
 11  Leg room service                   129880 non-null  int64
 12  Baggage handling                   129880 non-null  int64
 13  Checkin service                    129880 non-null  int64
 14  Cleanliness                        129880 non-null  int64
 15  Online boarding                    129880 non-null  int64
 16  Departure Delay in Minutes         129880 non-null  int64
 17  Arrival Delay in Minutes           129487 non-null  float64
 18  satisfaction_dissatisfied          129880 non-null  uint8
 19  satisfaction_satisfied             129880 non-null  uint8
 20  Customer Type_Loyal Customer       129880 non-null  uint8
 21  Customer Type_disloyal Customer    129880 non-null  uint8
 22  Type of Travel_Business travel     129880 non-null  uint8
 23  Type of Travel_Personal Travel     129880 non-null  uint8
 24  Class_Business                     129880 non-null  uint8
 25  Class_Eco                          129880 non-null  uint8
 26  Class_Eco Plus                     129880 non-null  uint8
dtypes: float64(1), int64(17), uint8(9)
memory usage: 19.0 MB

In [28]:
file['Arrival Delay in Minutes'].isnull().sum()

393

In [32]:
file[pd.isnull(file['Arrival Delay in Minutes'])]

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,...,Arrival Delay in Minutes,satisfaction_dissatisfied,satisfaction_satisfied,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
145,21,4804,0,2,0,4,5,0,5,5,...,NaN,0,1,1,0,0,1,0,1,0
246,28,1364,0,3,0,4,2,0,4,2,...,NaN,0,1,1,0,0,1,0,1,0
710,28,1792,0,5,0,3,5,0,5,5,...,NaN,0,1,1,0,0,1,0,1,0
736,9,1862,0,5,0,4,3,0,3,3,...,NaN,0,1,1,0,0,1,0,1,0
818,9,1668,1,0,1,1,4,1,4,4,...,NaN,1,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127739,44,3431,2,2,3,2,2,2,4,5,...,NaN,0,1,1,0,1,0,1,0,0
128131,39,1595,4,4,4,4,2,4,5,5,...,NaN,0,1,1,0,1,0,1,0,0
128710,45,871,5,1,1,1,5,5,2,5,...,NaN,0,1,1,0,1,0,0,1,0
129774,49,1594,5,4,5,2,3,5,3,3,...,NaN,0,1,0,1,0,1,0,1,0
129873,63,1942,5,5,4,4,3,4,3,3,...,NaN,0,1,0,1,0,1,0,1,0

In [34]:
file.describe()

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,...,Arrival Delay in Minutes,satisfaction_dissatisfied,satisfaction_satisfied,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,...,129487.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000
mean,39.427957,1981.409055,2.838597,2.990645,2.851994,2.990422,3.249130,3.383477,3.519703,3.472105,...,15.091129,0.452672,0.547328,0.816908,0.183092,0.690584,0.309416,0.478596,0.448945,0.072459
std,15.119360,1027.115606,1.392983,1.527224,1.443729,1.305970,1.318818,1.346059,1.306511,1.305560,...,38.465650,0.497757,0.497757,0.386743,0.386743,0.462255,0.462255,0.499544,0.497388,0.259248
min,7.000000,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,1359.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,40.000000,1925.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,...,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,51.000000,2544.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,...,13.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,85.000000,6951.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,1584.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000